# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

# Conexión: Puerto 3306 (interno) y sin comillas
ConnectionStrings__DefaultConnection=Server=cnt_clinica;Port=3306;Database=clinica_db;Uid=usr_clinica;Pwd=ClinicaGT;

# JWT: Sin comillas para evitar caracteres extra
JwtSettings__Secret=
JwtSettings__Issuer=ClinicaAPI
JwtSettings__Audience=ClinicaClient
JwtSettings__ExpirationHours=8

# CORS
Cors__AllowedOrigins__0=http://localhost:4200