# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Production
API_PORT=8080

# MySQL (contenedor externo)
DB_HOST=192.168.1.100
DB_PORT=3306
MYSQL_DATABASE=vetclinic_db
MYSQL_USER=vetclinic_user
MYSQL_PASSWORD=your_password_here

# JWT
JWT_KEY=TuClaveSecretaSuperSeguraDeAlMenos32Caracteres!
JWT_ISSUER=VetClinicAPI
JWT_AUDIENCE=VetClinicClient
