# Secrets - NUNCA subir
.env

# .NET
bin/
obj/
*.user
*.suo
.vs/
*.DotSettings.user
*.Backup.tmp
appsettings.Production.json

# Scripts SQL - solo son gu¡a
Infrastructure/Persistence/Database/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
